name: Build & Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
      name: Release
      runs-on: ubuntu-latest
      steps:
         - name: Generate checksum
           uses: jmgilman/actions-generate-checksum@v1
           with:
            patterns: |
              release/*.zip
              release/*.tar.gz
         - run: |
             ls -l 
         - name: Create release
           uses: softprops/action-gh-release@v1
           with:
             files: |
               checksum.txt
               release/*.zip
               release/*.tar.gz
